@{
    ViewBag.PageTitle = "Orders Management";
    ViewBag.CardTitle = "View Orders";
}




<table id="mytable" class="table table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Phone Number</td>
            <td>Order Status</td>
            <td>Total</td>
            <td>Actions</td>
        </tr>
    </thead>


</table>



@section scripts {
    <script src="~/js/order.js"> </script>
}